$playfair: 'Playfair Display', serif;

// html, body{width:100%;}
@font-face {
  font-family: "Caviar Dreams";
  src: url('../assets/fonts/CaviarDreams.ttf');
  font-weight: 400;
  font-style: normal;
}
body, html{ min-width: 100%; min-height: 100%; overflow: hidden; background: #000; position: relative; // 
    font-family: Candara,Cambria,Cochin,Georgia,Times,Times New Roman,serif;
     
    // font-family: $playfair;
     -webkit-font-smoothing: antialiased; width: 100%; height: 100%; display: block; margin: 0px; }
a{text-decoration:none !important; @include anim();outline: none!important; transition: all 0.5s ease-in-out;
    &:hover{text-decoration:none !important; transition: all 0.5s ease-in-out;}
}
a:hover{.follower{opacity: 0; display: none; z-index: -111;}}

ul{list-style: none;margin: 0;padding: 0;}
input [type=submit], button{@include anim(); outline:none !important; }
.no-padding-left{padding-left: 0 !important; }
.no-padding-right{padding-right: 0 !important; }
.no-padding{padding: 0 !important; }
.clear{clear: both;}
.container1 {width: 1600px; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.mainContainer {position: relative;
}

.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.nocursor { cursor: none; }


// .main__parent__fade-enter-active, .main__parent__fade-leave-active { transition: opacity 2s ease-out; }
// .main__parent__fade-enter, .main__parent__fade-leave-to { opacity: 0; }

// .bg__image__fade-enter-active, .bg__image__fade-leave-active { transition: opacity 200s ease-out; }


// .router-anim-enter-active { animation: coming 3s; opacity: 1; }
.router-anim-leave-active { animation: going 0s; height: 100vh; width: 100%; z-index: 99999999999999999; display: block; background: black; position: relative;
    h4{margin: 0;}
    &:after{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100vh; display: block;
        // background-color: #b63b8d;
        background: #000;
        background-size: cover;
        clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
        z-index: 9999;
    }
    &:before{content: ""; position: absolute; top: 0; right: 0; width: 100%; height: 100vh; background: white;display: block;
        //  background-color: #39cccc;
        background: #000;
        background-size: cover;
        clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
        z-index: 9999;
    }
    
}

.anim-typewriter{
    margin: 0 2px;display: inline-block; position: relative; -ms-flex: none; -webkit-box-flex: 0; flex: none; white-space: pre; opacity: 0; -webkit-transform-origin: 0 50%; transform-origin: 0 50%; transform: rotateY(-90deg) translateZ(0px);
    animation: typewriter 1s 1s 1 normal both;
    &:nth-child(1) { animation-delay: 0.1s; }
    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.3s; }
    &:nth-child(4) { animation-delay: 0.4s; }
    &:nth-child(5) { animation-delay: 0.5s; }
    &:nth-child(6) { animation-delay: 0.6s; }
    &:nth-child(7) { animation-delay: 0.7s; }
    &:nth-child(8) { animation-delay: 0.8s; }
    &:nth-child(9) { animation-delay: 0.9s; }
    &:nth-child(10) { animation-delay: 1.0s; }
    &:nth-child(11) { animation-delay: 1.1s; }
    &:nth-child(12) { animation-delay: 1.2s; }
    &:nth-child(13) { animation-delay: 1.3s; }
    &:nth-child(14) { animation-delay: 1.4s; }
    &:nth-child(15) { animation-delay: 1.5s; }
    &:nth-child(16) { animation-delay: 1.6s; }
    &:nth-child(17) { animation-delay: 1.7s; }
    &:nth-child(18) { animation-delay: 1.8s; }
    &:nth-child(19) { animation-delay: 1.9s; }
    &:nth-child(20) { animation-delay: 2.0s; }
    &:nth-child(21) { animation-delay: 2.1s; }
    &:nth-child(22) { animation-delay: 2.2s; }
    &:nth-child(23) { animation-delay: 2.3s; }
    &:nth-child(24) { animation-delay: 2.4s; }
    &:nth-child(25) { animation-delay: 2.5s; }
    &:nth-child(26) { animation-delay: 2.6s; }
    &:nth-child(27) { animation-delay: 2.7s; }
    &:nth-child(28) { animation-delay: 2.8s; }
    &:nth-child(29) { animation-delay: 2.9s; }
    &:nth-child(30) { animation-delay: 3.1s; }
    &:nth-child(31) { animation-delay: 3.2s; }
    &:nth-child(32) { animation-delay: 3.3s; }
    &:nth-child(33) { animation-delay: 3.4s; }
    &:nth-child(34) { animation-delay: 3.5s; }
    &:nth-child(35) { animation-delay: 3.6s; }
    &:nth-child(36) { animation-delay: 3.7s; }
    &:nth-child(37) { animation-delay: 3.8s; }
    &:nth-child(38) { animation-delay: 3.9s; }
}
.subheading{
    animation: typewriter 1s 1s 1 normal both;
    animation-delay: 4s;
    &:nth-child(1) { animation-delay: 4.1s; }
    &:nth-child(2) { animation-delay: 4.2s; }
    &:nth-child(3) { animation-delay: 4.3s; }
    &:nth-child(4) { animation-delay: 4.4s; }
    &:nth-child(5) { animation-delay: 4.5s; }
    &:nth-child(6) { animation-delay: 4.6s; }
    &:nth-child(7) { animation-delay: 4.7s; }
    &:nth-child(8) { animation-delay: 4.8s; }
    &:nth-child(9) { animation-delay: 4.9s; }
    &:nth-child(10) { animation-delay: 5.0s; }
    &:nth-child(11) { animation-delay: 5.1s; }
}

// animation: name duration timing-function delay iteration-count direction fill-mode play-state;

#app { -webkit-font-smoothing: antialiased; width: 100%; height: 100%; overflow: hidden; display: block; }
.wrap { position: fixed; z-index: 1; }
#follower { position: absolute; top: 0%; left: 0%; z-index: 1; }
// #follower #circle1 { position: absolute; -webkit-animation: pulse 4s infinite; animation: pulse 4s infinite; background: rgba(255, 255, 255, 0.3); border-radius: 50%; height: 1em; width: 1em; margin-top: 0em; margin-left: 0em; top: 20px; left: 20px; transform: translate(-50%, -50%) }
// #follower #circle2 { z-index: 1; position: absolute; -webkit-animation: pulse 6s infinite; animation: pulse 6s infinite; background: rgba(70, 70, 70, 0.8); border-radius: 50%; height: 2em; width: 2em; margin-top: 0em; margin-left: 0em; top: 20px; left: 20px; transform: translate(-50%, -50%) }
#follower #circle2 { z-index: 1; position: absolute; background: red; border-radius: 50%; height: 0.5em; width: 0.5em; margin-top: 0em; margin-left: 0em; top: 10px; left: 10px; transform: translate(-50%, -50%) }

header {
    .navigation, .mobile-navigation{    display: block; 
        .navigation__link{z-index: 999999; position: absolute; font-family: Candara; font-size: 14px; font-weight: Bold; text-decoration: none; text-transform: uppercase; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; transition: all .3s ease-in-out;
        span{position: relative; opacity: 0.6;}
        &::after{ width: 1px; height: 50px; content: ""; background: #414141; display: block; margin-left: 20px; margin-right: 20px; transition: all .3s ease-in-out; position: relative; }
        &::before{width: 1px; height: 50px; content: ""; background: #414141; display: block; margin-left: 20px; margin-right: 20px; transition: all .3s ease-in-out; position: relative;}
        &:hover{
            span{opacity: 1; @include anim();}
            &:before{top: 10px;}
            &:after{top: -10px;}
        }
        }
        .navigation__link:before{margin-bottom: 15px; top: 0;}
        .navigation__link:after{margin-top: 15px; top: 0;}

        .navigation__link--contact{top: 0; right: 75px; text-align: right; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end;}
        .navigation__link--about{bottom: 0; right: 75px; text-align: right; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end;}
        .navigation__link--portfolio{bottom: 0; left: 75px; text-align: left;}
        .navigation__link--logo{position: absolute; top: 50px; left: 75px; height: 53px; width: 50px; z-index: 999999; cursor: pointer;
        .path {
            stroke: white;
            fill: black;
            stroke-width: 20px;
            stroke-dasharray: 6000;
            stroke-dashoffset: 0;
            // animation: dash 3s linear alternate;
        }
        &:hover{
            .path {
                // stroke-dashoffset: 3000;
                // animation: dash 1s linear alternate;
                // @include anim();
            }
        }
            .cls-1, .cls-2 { font-size: 678.699px; }
            .cls-2, .cls-4 { font-family: "Playfair Display"; opacity: 1; }
            .cls-3, .cls-4 { font-size: 339.349px; }
            // .cls-2{animation: hideshow 2s 1.5s ease infinite;}
            // .cls-4{animation: hideshow 2s 1.5s ease infinite;}
            // .cls-3{    transform: translate(54%, 84%);     font-size: 40px;}
        }
    }
    .navigation--contact{
        .navigation__link--logo{ svg path{ fill: #000; stroke: #000; }}
        .cls-2, .cls-4 { fill: #000; }
        .navigation__link{color: #000; }  
    }

    .navigation--about, .navigation--aboutdetail{
        .cls-2, .cls-4 { fill: #fff; }
        .navigation__link{color: #000; } 
        .navigation__link--portfolio{
            color: white;
        }
    }
    .navigation--aboutdetail{
        .cls-2, .cls-4 { fill: #000; }
        .navigation__link{color: #000; } 
        .navigation__link--portfolio{ color: white; }
        .navigation__link--about{color: #000; }
    }
    .navigation--home{
        // .navigation__link.navigation__link--about{color: #000; }
    }
    .navigation--home, .navigation--portfolio{
        .cls-2, .cls-4 { fill: #fff; }
        .navigation__link{color: #fff; }
    }
    .navigation--nviso, .navigation--lms{
        .cls-2, .cls-4 { fill: #000; }
        .navigation__link{color: #000; }
    }
}

.home__body{
    .homepage{ z-index: 2; color: white; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; background: #000 no-repeat center center; background-size: cover;
        .myImg{
            width: 660px;
            position: absolute;
            bottom: 0;
            right: -280px;
            opacity: 0.9;
        }
        .home__text{position: relative; text-align: right; z-index: 4; 
            h4{ font-size: 36px; margin: 0; 
            span{margin: 0 2px;display: inline-block; position: relative; -ms-flex: none; -webkit-box-flex: 0; flex: none; white-space: pre; opacity: 0; -webkit-transform-origin: 0 50%; transform-origin: 0 50%; 
                transform: rotateY(-90deg) translateZ(0px);
                }
            } 
            p{font-size: 14px; opacity: 0.46; text-transform: uppercase; span{margin: 0 5px;}} 
        }
        .home__heading__svg{position: absolute; bottom: -15%; left: -15%; z-index: -1; padding: 40px;
            .home__heading__path{ fill:transparent; stroke-width:2; stroke:url(#grad); }
        }
        .home__heading__path { stroke-dasharray: 100; animation: dash 40s linear infinite; }
        @keyframes dash {
            0% { stroke-dasharray: 100; }
            20% { stroke-dasharray: 80; }
            40% { stroke-dasharray: 100; }
            80% { stroke-dasharray: 80; }
            100% { stroke-dasharray: 100; }
        }
    }
}
.contact__body{ .wrap{z-index: -1;}
    // .anim-typewriter{animation-delay: 2s;}
    .anim-typewriter {animation: typewriter 1.5s normal both;}
    .contact__page{ background: white; z-index: 2; color: black; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;   
        .contact__box{ display: flex; flex: 1; height: 50vh; border: 1px solid #000; position: relative;
            .image{flex: 1; background: #000 url('../assets/images/vivek4.png') no-repeat center center; background-size: cover; img{width: 100%; height: 100%;} }
            .detail{flex: 2; margin: 24px 50px;
                h2{ font-size: 48px; margin: 0; letter-spacing: 0.08em; font-weight: 400; font-family: $playfair;
                    // span:nth-child(1){font-weight: 800;}
                    span{
                        font-size: 48px;
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                }
                h3{font-size: 24px; font-weight: 400; letter-spacing: 0.08em; position: relative; display: inline-block;
                    p{position: absolute; right: 0; bottom: -3.5em; font-size: 20px; letter-spacing: 0.08em; opacity: 0.8; border-bottom: 1px solid rgba(0,0,0,0.8); padding: 0 0 4px 0; }
                }
                
                .socail{ align-self: flex-end; position: absolute; bottom: 3rem;
                    h4{font-size: 24px; font-weight: 400; letter-spacing: 0.2em; margin: 20px 0; a{color: black; span{margin: 0;margin-right: -6px;}}}
                    a{margin-right: 25px; 
                        img{width: 40px; animation: blurOnOff 1s ease; opacity: 0.8;}
                        &:hover{color: black; cursor: pointer !important; img{opacity: 1;}}
                    }
                }
            }
        }
    }
}

.portfolio__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll !important;
    .portfolio__page {
        width: 70%;
        margin: 0 auto;
        padding-top: 8%;

        .project__list{
            padding-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            .project__box{
                flex: 1;
                padding: 0 20px;
                img{
                    width: 100%;
                }
            }
        }
        // background: black; z-index: 1; color: white; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; position: relative;
        // h4{ font-size: 36px; margin: 0; }

        // .navigation__btn__group{ display: inline-block; bottom: 10%; position: absolute; background: transparent; width: 50%; text-align: center;
        //     .navigation__btns{
        //         .navigation__bullets{margin: 0 50px; background: #5a5657; height: 10px; width: 10px; margin:auto 50px; display: inline-block;}
        //         .navigation__bullets__active { position: relative; height: 20px; width: 20px; background: transparent; border-radius: 0%; }
        //         .navigation__bullets__active::after { z-index: 1; content: ''; position: absolute; height: 10px; width: 10px; left: 50%; top: 75%; background: #3e3a3b; transform: translate(-50%, -50%); }
        //         .navigation__bullets__active::before { z-index: 2; content: ''; position: absolute; height: 5px; width: 5px; left: 50%; top: 75%; background: #1b1b1b; transform: translate(-50%, -50%); }
        //         &:before{content: ''; left: 50%; top: 65%; z-index: -1; transform: translate(-50%,-50%); background: hsla(0, 0%, 100%, .1); height: 1px; position: absolute; width: 70%; }
        //     }
        // }

        // .current-slide {
        //   position: absolute;
        //   width: 100vw;
        //   height: 100vh;
        //   margin-top: 0;
        //   padding: 0;
        //   background-color: #553890;
        // }


        .projects__slide{ 
             display: flex; justify-content: center; align-items: center;

            // .swiper-slide{ height: 100vh; background: black; justify-content: center; align-items: center; display: flex; flex-direction: column;
            //     .project__list{margin-bottom: 100px; border-radius: 10px; width: 70%; height: auto; color: #000; border-radius: 4px; background-color: transparent; box-shadow: 0px 7px 38px 2px rgba(181, 181, 181, 0.08); background-size: cover;
            //         img{width: 100%; border-radius: 4px; transform: scale(1) }
            //         // &:hover{img{ animation: slideAnimation 1s ease;}}
            //     }
            //     h2{ margin: 0; padding: 0; font-size: 64px; font-family: "Caviar Dreams"; color: rgba(255, 255, 255, 0.3); font-weight: 100; margin-bottom: 40px; display: block; width: 100%; text-align: center;}
            // }
            // .swiper-pagination{ display: inline-block; bottom: 10%;
            //     .swiper-pagination-bullet { margin: 0 50px; background: #5a5657; height: 10px; width: 10px; margin:auto 50px; border-radius: 0%;}
            //     .swiper-pagination-bullet-active { position: relative; height: 20px; width: 20px; background: transparent; border-radius: 0%; }
            //     .swiper-pagination-bullet-active::after { z-index: 1; content: ''; position: absolute; height: 10px; width: 10px; left: 50%; top: 75%; background: #3e3a3b; transform: translate(-50%, -50%); }
            //     .swiper-pagination-bullet-active::before { z-index: 2; content: ''; position: absolute; height: 5px; width: 5px; left: 50%; top: 75%; background: #1b1b1b; transform: translate(-50%, -50%); }
            // }
            // .swiper-pagination::before { content: ''; left: 50%; top: 65%; z-index: -1; transform: translate(-50%,-50%); background: hsla(0, 0%, 100%, .1); height: 1px; position: absolute; width: 70%; }
        }
    }

}
.about__body {
    .about__page { background: white; z-index: 1; color: black; width: 100%; height: 100%; position: relative;
        .section__part{display: flex; height: 100%; align-items: center; color: white; text-transform: capitalize; height: 100%;
            .first_section{ flex : 1;  height: 100%; color: white; background: #232323; align-items: center; justify-content: center; display: flex; flex-direction: column; position: relative; 
                .mainSVG{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); .ring, #d0ot{ mix-blend-mode:overlay; }}
            }
            .second_section{ flex : 1;  height: 100%; color: white; background: black; align-items: center; justify-content: center; display: flex; flex-direction: column;}
            .third_section{ flex : 1;  height: 100%; color: black; background: #fff url('../assets/images/about_logo.png') no-repeat center center; align-items: center; justify-content: center; display: flex; flex-direction: column;}
            h4{ font-size: 60px; margin: 0 0 0 75px; display: block; width: 100%; font-weight: 400; line-height: 50px; font-family: $playfair;}
            h4:nth-child(2){ color: #5b5b5b; font-size: 35px;}
        }
        .more_btn{position: absolute; bottom: 8%; left: 50%; transform: translateX(-50%); text-align: center;
            // &:hover{ img {width: 40%; @include anim(); } }
            img{display: block; text-align: center; margin: 0 auto; width: 45%; margin-bottom: 10px;}
            span{color: white; text-transform: uppercase; font-size: 11px; }
        }
    }
}
.aboutdetail__body {
    .about__detail__page { background: white; z-index: 1; color: black; width: 100%; height: 100%; position: relative;
        .section__part{display: flex; height: 100%; align-items: center; color: white; text-transform: capitalize; height: 100%;
            .first_section{ flex : 1.2;  height: 100%; color: white; background: #232323  no-repeat center center; align-items: center; justify-content: center; display: flex; flex-direction: column; padding-left: 75px; background-position: center center;
                background-size: auto 120%;
                opacity: 0.9;
                background-color: #000;
                h4{ font-size: 60px; margin: 0; display: block; width: 100%; font-weight: 400; line-height: 50px; font-family: $playfair;}
                h4:nth-child(2){ color: #5b5b5b; font-size: 35px;}
            }
            .second_section{ flex : 2.5;  height: 100%; overflow-y: scroll; overflow-x: hidden; color: black; background: white; flex-direction: column; padding-left: 40px;
                .heading{margin-top: 40px;
                    h4{ font-size: 60px; margin: 0; display: block; width: 100%; font-weight: 400; line-height: 50px; font-family: $playfair;}
                    h4:nth-child(2){ color: #5b5b5b; font-size: 35px;}
                }
                .partition__section{display: flex; margin-top: 80px; text-transform: uppercase;
                    h4{flex: 1; position: relative;  font-size: 14px; font-weight: bold; margin-top:30px; padding-top:10px;
                        &::after{content: ''; position: absolute; top: -10px; left: 0; width: 90%; height: 2px; background: black; opacity: 0.1;}
                    }
                    .section__detail{flex: 3; padding-right: 130px;
                        h3{font-size: 14px; text-align: justify; letter-spacing: 0.7px; line-height: 20px; font-weight: bold;
                            span{float: right;}
                        }
                        p{font-size: 14px; text-align: justify; letter-spacing: 0.7px; line-height: 28px;
                            span{font-weight: bold;}
                        }
                        li{font-size: 14px; text-align: justify; letter-spacing: 0.7px; line-height: 28px; margin-bottom: 12px;
                            span{font-weight: bold;}
                        }

                    }
                    &:last-child{
                        margin-bottom: 100px;

                    }
                }
                .careers__section{p{line-height: 20px;} h3{span{color: #5b5b5b;}}}
            }
        }
    }
}

.lms__body, .nviso__body {
    .nviso__detail__page, .lms__detail__page { background: white; z-index: 1; color: black; width: 100%; height: 100%; position: relative;
        .section__part{display: flex; height: 100%; align-items: center; color: white; text-transform: capitalize; height: 100%;
            .second_section{ flex : 1; padding: 200px 200px 200px 200px; height: 100%; overflow-y: scroll; overflow-x: hidden; color: black; background: white; flex-direction: column;
                p{img{width: 100%;}}
                .project__link{display: block; font-size: 12px; color: #000; text-transform: none; margin-top: 10px;}
                .partition__section{display: flex; margin-top: 40px; text-transform: uppercase;
                    .title__section{flex: 1;
                        .heading{margin-top: 10px; display: inline-block; padding-bottom: 20px;
                            h4{ font-size: 36px; margin: 0; display: block; width: 100%; font-weight: 400; line-height: 50px; text-transform: initial; line-height: 30px; font-family: "Caviar Dreams";}
                            h4:nth-child(2){ color: #5b5b5b; font-size: 12px;}
                            border-bottom: 1px dotted #858585;
                        }
                        // &::after{content: ''; position: absolute; top: -10px; left: 0; width: 90%; height: 2px; background: black; opacity: 0.1;}
                    }
                    .section__detail{flex: 3;
                        h3{font-size: 14px; text-align: justify; letter-spacing: 0.7px; line-height: 20px; font-weight: bold;
                            span{float: right;}
                        }
                        p{font-size: 14px; text-align: justify; letter-spacing: 0.7px; line-height: 28px;
                            span{font-weight: bold;}
                        }

                    }
                }
                .careers__section{p{line-height: 20px;} h3{span{color: #5b5b5b;}}}
            }
        }
    }
}