// Override / set color variables

$open: 'Open Sans', sans-serif;
$pt: 'PT Sans', sans-serif;
$red: #e8221a;
$grey: #3b3b3b;
$greyt: #494949;

$white: #fff;
$black: #000;
$green: #00e389;
$blue: #3399ff;
$orange: #f26c22;
$yellow: #ffd925;
$red: #e5001e;
